## Add SSI.
#AddType text/html .shtml
#AddHandler server-parsed .shtml
#Options FollowSymLinks Includes
#Options -Indexes
#
## Setup rewriting.
RewriteEngine On
#RewriteBase     /


## COMMENTED OUT ON LOCAL DEV ONLY
# This checks to make sure the connection is not already HTTPS
RewriteCond    %{HTTPS}        !=on
RewriteRule    ^(.*)$	https://%{HTTP_HOST}%{REQUEST_URI}       [R=301,L]
#
#RewriteCond    %{HTTP_HOST}    !^antisocialmusic\.com
#RewriteRule    (.*)    https://antisocialmusic.org/$1       [R=301,L]

Redirect 301 /music.html /Music.html
Redirect 301 /performances.html /Performances.html
Redirect 301 /members.html /Members.html
Redirect 301 /history.html /History.html
Redirect 301 /press.html /Press.html
Redirect 301 /store.html /Store.html
Redirect 301 /pressphotos.html /PressPhotos.html
