body {
	background-color: #fff;
	color: #222;
	font-family: Courier,Monaco,serif;
	font-weight: 400;
	letter-spacing: normal;
}

/* GENERAL LINKS */
a:link,
a:visited,
a:hover,
a:active {
	color: #a70e09;
	text-decoration: none;
}
a:visited {
	color: #5c7ca3;
}
a:active {
	color: #ffc21f;
}
a:hover {
	text-decoration: underline;
}

/* Float Clearing */
.clear { zoom: 1; }
.clear:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Accessibility */
.accessibility { left: -9999px; position: absolute; top: -9999px; }

#homepage {
/*	font-family: Courier New,Courier,Monaco,serif;*/
	margin: 0px auto;
	padding: 8px 8px 2px 8px;
}


/* HEADER: LOGO, NAVIGATION */
#header {
	background: url("/images/background_home.jpg") 47px 32px no-repeat;
	height: 329px;
	margin: 0 auto;
	position: relative;
	width: 766px;
}
#header h1 {
	background: url("/images/logo_home.jpg") no-repeat;
	display: block;
	height: 123px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 494px;
}

#header ul {
	margin: 0;
	padding: 0;
}
#header li {
	display: block;
	overflow: hidden;
	margin: 0;
	position: absolute;
	text-indent: -9999px;
}
#header li a {
	display: block;
}
#header li#performances {
	right: 4px;
	top: 13px;
}
	#header li#performances a {
		background: url("/images/nav_home_performances.jpg") 0 0 no-repeat;
		height: 47px;
		width: 147px;
	}
		#header li#performances a:active,
		#header li#performances a:hover {
			background-position: 0 -47px;
		}

#header li#music {
	right: 25px;
	top: 60px;
}
	#header li#music a {
		background: url("/images/nav_home_music.jpg") 0 0 no-repeat;
		height: 44px;
		width: 103px;
	}
		#header li#music a:active,
		#header li#music a:hover {
			background-position: 0px -44px;
		}

#header li#members {
	right: 19px;
	top: 111px;
}
	#header li#members a {
		background: url("/images/nav_home_members.jpg") 0 0 no-repeat;
		height: 45px;
		width: 123px;
	}
		#header li#members a:active,
		#header li#members a:hover {
			background-position: 0 -45px;
		}

#header li#history {
	right: 15px;
	top: 163px;
}
	#header li#history a {
		background: url("/images/nav_home_history.jpg") 0 0 no-repeat;
		height: 44px;
		width: 118px;
	}
		#header li#history a:active,
		#header li#history a:hover {
			background-position: 0 -44px;
		}

#header li#press {
	right: 25px;
	top: 221px;
}
	#header li#press a {
		background: url("/images/nav_home_press.jpg") 0 0 no-repeat;
		height: 59px;
		width: 103px;
	}
		#header li#press a:active,
		#header li#press a:hover {
			background-position: 0 -59px;
		}

#header li#store {
	right: 190px;
	top: 193px;
}
	#header li#store a {
		background: url("/images/nav_store.jpg") 0 0 no-repeat;
		height: 66px;
		width: 90px;
	}
		#header li#store a:active,
		#header li#store a:hover {
			background-position: 0 -66px;
		}

/* CONTENT AREA */
#content {
	margin: 0 auto;
	position: relative;
	width: 766px;
}

#content p {
	font-size: 15px;
	margin: 0;
	padding: 0;
}

#content ul {
	font-size: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#content h4 {
	margin: 16px 0;
	font-size: 28px;
}

#news {
	clear: right;
	float: right;
	padding-left: 23px;
	position: relative;
	width: 360px;
}
	#news ul + h4 {
		margin-top: 30px;
	}
	#news li {
		color: #555;
		margin-bottom: 25px;
	}
	#news li a {
		font-weight: bold;
	}
	#news .showtitle {
		color: #222;
		display: block;
	}

	#solicit {
		/*background-color: #eee;*/
		border: 1px solid #999;
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		font-size: 13px;
		line-height: 16px;
		margin-top: 50px;
		padding: 10px 10px 0 10px;
		position: relative;
		text-align: center;
	}
	#solicit p {
		margin-top: 15px;
	}
	#solicit #form_container {
		display: block;
		margin: 0 auto;
	}

#community {
	clear: left;
	float: left;
	margin-right: 30px;
	padding: 0;
	position: relative;
	width: 343px;
}

	#recordings-promo {
		position: relative;
	}
	#recordings-promo ul {
		position: absolute;
		left: -108px;
		top: 5px;
	}
	#recordings-promo li {
		margin-bottom: 10px;
	}
	#recordings-promo p {
		line-height: 1.2;
		margin: 0 0 24px 0;
	}

	#bandcamp_player {
		position: relative;
	}

	#pr {
		padding-bottom: 20px;
	}
	.CoC {
		float: left;
		left: -114px;
		position: absolute;
		top: 10px;
	}
/*
#recordings-promo p img {
	float: left;
	margin-right: 10px;
}
#recordings-promo img#paypal_button {
	margin-right: 150px;
}
#recordings-promo img#cd4 {
	border: 1px solid #A70E09;
	height: 91px;
	width: 91px;
}
#recordings-promo img#cd3 {
	height: 93px;
	width: 93px;
}
#recordings-promo img#cd2 {
	border: 1px solid #888;
	height: 92px;
	width: 92px;
}
#recordings-promo img#cd1 {
	height: 93px;
	width: 92px;
}
*/

/* SOCIAL NETWORKING */
#networking {
	left: 0;
	position: absolute;
	top: -20px;
	width: 100%;
}
#networking ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#networking li {
	display: inline;
	line-height: 1;
	margin: 0;
	margin-right: 12px;
	padding: 0;
	text-indent: -9999px;
}
#networking li.social a {
	background: url("/images/asm_networking.png") 0 0 no-repeat;
	display: inline-block;
	height: 32px;
	padding: 0;
	text-decoration: none;
	width: 32px;
}
#networking li.bandcamp a:hover { background-position: 0 -32px; }
#networking li.youtube a        { background-position: 0 -64px; }
#networking li.youtube a:hover  { background-position: 0 -96px; }
#networking li.myspace a        { background-position: 0 -128px; }
#networking li.myspace a:hover  { background-position: 0 -160px; }
#networking li.facebook a       { background-position: 0 -192px; }
#networking li.facebook a:hover { background-position: 0 -224px; }
#networking li.twitter a        { background-position: 0 -256px; }
#networking li.twitter a:hover  { background-position: 0 -288px; }

#networking li.youtube {
	margin-right: 0;
}


/* FOOTER: */
#footer {
	color: rgb(110,110,110);
	font-size: 11px;
	padding-top: 10px;
	text-align: center;
}

/* sleeps around images/links are negatively positioned absolutely outside of the main container, so bring 'em inside */
@media screen and (min-width:769px) and (max-width:966px) {
	#recordings-promo h4 {
		margin-bottom: 66px;
	}
	#recordings-promo ul {
		left: -14px;
		top: 34px;
	}
	#recordings-promo li {
		display: inline;
		margin-left: 13px;
	}
	#recordings-promo li img {
		height: 50px;
		width: 50px;
	}
	.CoC {
		float: none;
		left: 110px;
		position: relative;
		top: 0px;
	}
}

@media only screen and (max-width: 768px) {

	#homepage {
		padding: 0;
		margin: 1%;
		width: 98%;
	}

	#content {
		position: relative;
		width: 100%;
	}

	#header, 
	#navigation {
		background: none;
		height: auto;
		position: relative;
		width: 100%;
	}
	#header ul {
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#header li {
		display: inline;
		font-size: 16px;
		line-height: 1.5;
		position: relative;
		text-indent: 0;
	}

	#header h1 {
		background: url("/images/ASM_scriptlogo.jpg") 50% 0 no-repeat;
		background-size: contain;
		height: 122px;
		margin: 0 auto;
		position: relative;
		width: auto;
	}

	#header li#performances, 
	#header li#music, 
	#header li#members, 
	#header li#history, 
	#header li#press, 
	#header li#store {
		left: auto;
		margin: 0 3%;
		position: relative;
		right: auto;
		top: auto;
	}

	#header li#performances a, 
	#header li#performances a:hover, 
	#header li#music a, 
	#header li#music a:hover, 
	#header li#members a, 
	#header li#members a:hover, 
	#header li#history a, 
	#header li#history a:hover, 
	#header li#press a, 
	#header li#press a:hover, 
	#header li#store a, 
	#header li#store a:hover {
		background: none;
		display: inline-block;
		height: auto;
		margin-top: 6px;
		width: auto;
	}

	#community {
		float: none;
		margin: 0;
		padding: 20px 0 0 20px;
		position: relative;
		width: 95%;
	}

	#news {
		float: none;
		padding-left: 20px;
		position: relative;
		width: 95%;
	}

	#solicit {
		margin: 50px auto 0 auto;
		width: 65%;
	}
	#recordings-promo {
		margin-left: 105px;
		padding-right: 45px;
	}
	#recordings-promo ul {
		left: -105px;
	}
	#bandcamp_player {
		left: 0;
		margin-left: 105px;
		position: relative;
	}

	#pr {
		margin-left: 105px;
		padding-right: 45px;
	}
	.CoC {
		float: none;
		left: 14px;
		position: absolute;
		top: 20px;
	}

} /* end max-width 768 */



@media only screen and (max-width: 491px) {

	#header h1 {
		height: 90px;
	}
	#header ul {
		padding-top: 0;
	}

	#news, 
	#community {
		padding-left: 0;
		text-align: center;
	}

	#solicit {
		width: 98%;
	}

	#recordings-promo {
		margin-left: 3%;
		padding-right: 0;
		text-align: left;
	}
	#recordings-promo p {
		xmargin: 0;
	}

	#recordings-promo ul {
		float: left;
		left: 0;
		top: 100%;
	}
	#recordings-promo li {
		display: inline-block;
	}
	#recordings-promo li img {
		width: 50px;
		height: auto;
	}
	#bandcamp_player {
		margin-left: 3%;
		padding-top: 80px;
	}

	#pr {
		margin-left: 3%;
		padding-bottom: 40px;
		padding-right: 0;
	}
	.CoC {
		float: none;
		xleft: -114px;
		position: relative;
		xtop: 10px;
		text-align: center;
}


} /* end max-width 491 */